* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

ul,
p {
  margin: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
  /*IE/7/6*/
}

.none {
  display: none;
}

.red {
  color: red;
  vertical-align: middle;
}

.no_label {
  .el-form-item__label {
    color: #fff;
  }
}
