extends layout

block content
  h1= title
  p Welcome to My #{title}
  h2 thanks
  h2 thanks
  h2 thanks
  h2 thanks
  h2 thanks
  h2 thanks
  h2 thanks
  h2 thanks
  h2 thanks
  h2 thanks
  h2 thanks
  h2 thanks
  h2 thanks
  h2 thanks
  h2 thanks
  h2 thanks
  h2 thanks
  h2 thanks
  h2 thanks
  h2 thanks
  h2 thanks
